@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
// primary colors
$marine-blue: hsl(213, 96%, 18%);
$purplish-blue: hsl(243, 100%, 62%);
$pastel-blue: hsl(228, 100%, 84%);
$light-blue: hsl(206, 94%, 87%);
$strawberry-red: hsl(354, 84%, 57%);

//  neutral colors
$deep-gray: hsl(231, 11%, 43%);
$dool-gray: hsl(231, 11%, 63%);
$light-gray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);

// typography
$main-ff: "Ubuntu", sans-serif;
$font-weights: (
	"light": 300,
	"regular": 400,
	"medium": 500,
	"bold": 700,
);

// utility styles
$border-radius: 6px;

// Return font-weights
@function weights($weight) {
	@return map-get($font-weights, $weight);
}

@mixin screen-size($breakpoint) {
	@media screen and (min-width: 1440px) {
		@content;
	}
}