.formContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;

    h1 {
        color: $marine-blue;
        font-size: 2rem;
    }

    h2 {
        color: $cool-gray;
        font-size: 1rem;
        font-weight: 500;
    }

    &__input-field input{
        width: 100%;

    }

}
