@import "./config";

.form__input-field {
  position: relative;

  input {
    padding: 0.5em;
    outline: 0;
    border: 1px solid $light-gray;
    border-radius: $border-radius;
    width: 100%;
    cursor: pointer;

    &::placeholder {
      color: transparent;
    }

    &:focus::placeholder {
        color: $deep-gray;
    }

    &:focus,
    &:hover {
      border: 1px solid $purplish-blue;
    }

    &:focus + label,
    &:not(:placeholder-shown) + label {
      transform: translate(-10px, -30px) scale(0.85);
    }
  }
  label {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: transform 300ms ease;
    color: $deep-gray;
  }
}

input[type="number"] {
  // firefox
  -moz-appearance: textfield;
  // other browsers
  appearance: text-field;
}
